/* CSS1K entry
 * "TheForce" by Chris Roberts (http://chrsr.com)
 * This file is unminified for legibility, for size proof add '-min' to the end of the filename */

html {
    display: block;
    position: fixed;
    width: 100%;

    font: 120%/1.5 sans-serif;
    color: #efcd71;
    background-color: black;

    -webkit-perspective: 700;
    -webkit-perspective-origin-x: 50%;
    -webkit-perspective-origin-y: 15%;
}

html:after {
    content: "The dark side";
    position: fixed;
    display: none;
    top: 0;
    width: 100%;
    height: 300px;
    background: #000 -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    color: transparent;
}

body {
    max-width: 960px;
    margin: 0 auto;
    max-height: 600px;
    -webkit-transform: rotateX(45deg);
    overflow: scroll;
    border: solid 1px red;
}

a {
    color: #e0c162;
    text-decoration: none;
    border-bottom: solid 1px #e0c162;
}
a:hover {
    color: #e0c162;
}

@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0.1);
    }
}

header {
    display: inline;
}

h1 {
    position: absolute;
    display: none;
    font: 700;
    font-size: 10em;
    color: black;
    text-align: center;
    -webkit-text-stroke: #efcd71 3px;
    -webkit-animation: scale 9s ease-out;
}

nav {
    display: inline;
}

nav ul {
    margin: 0 auto;
}
nav {
}
nav li {
    display: inline-block;
    padding: 0 2px 0 2px;
    text-align: justify;
}
nav li a {
    border: 0px;
    font-size: 1em;
}
nav a:last-child:before {
    content: 'by ';
    display: inline;
}
nav a:last-child:after {
    content: ' |';
}

article {
    display: none;
}

article section {
    display: inline;
}

h2 {
    text-transform: uppercase;
}

footer {
    display: none;
    width: 80%;
    padding: 0 10%;
    max-width: 960px;
    margin: 0 auto;
}

footer p {
    text-align: center;
    font-size: 85%;
}
